<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'icons/title.svg' %}" type="image/x-icon">

    <!-- THEME -->
    {% if user.settings.enabled_dark %}
        <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/light.css' %}">
    {% endif %}

    <title>The Note Taking App For Minimalists | OnlineNotes.me</title>
</head>
<body class="bg-1">
    
    {% if user.settings.enabled_dark %}
    <nav class="navbar navbar-expand-lg bg-2 navbar-dark p-1">
    {% else %}
    <nav class="navbar navbar-expand-lg bg-2 navbar-light p-1">
    {% endif %}

        <div class="container">
            <a class="navbar-brand brand-text" href="{% url 'notes' %}">OnlineNotes.me</a>

            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            {{ user }}
                        </a>
                        {% if user.settings.enabled_dark %}
                        <ul class="dropdown-menu dropdown-menu-dark">
                        {% else %}
                        <ul class="dropdown-menu">
                        {% endif %}

                            <li><a class="dropdown-item" href="{% url 'notes' %}">My Notes</a></li>
                            {% if user.settings.enabled_dark %}
                            <li><a class="dropdown-item" href="{% url 'light-theme' %}">Light Theme &nbsp;<img src="{% static 'icons/sun.svg' %}" alt=" " width="18" height="18"></a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'dark-theme' %}">Dark Theme &nbsp;<img src="{% static 'icons/moon.svg' %}" alt=" " width="18" height="18"></a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                
                </ul>
            {% else %}
                <a class="text-decoration-none" href="{% url 'login' %}">
                    <button class="btn btn-dark btn-lg color-2 fw-bold">Sign In</button>
                </a>
            {% endif %}

        </div>
    </nav>

    <div class="container">
        {% block body_content %}
        <!-- Body content goes HERE -->
        {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>