<!DOCTYPE html> 
{% extends 'notes_app/base_user.html' %} 
{% block body_content%}
    
    <div class="card m-auto shadow" >
        <div class="card-body">
            <h3 class="card-title fw-bold mb-4 text-center">Sign In</h3>

            <form method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label class="label-font" for="id_username">Username</label>
                    <br>
                    <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required
                        id="id_username">
                    <br>
                </div>
                <div class="form-group">
                    <label class="label-font" for="id_password">Password</label>
                    <br>
                    <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
                    <br>
                </div>
                 
                <p class="text-danger">{{ error }}</p>

                <input type="submit" value="Sign In" class="btn btn-dark btn-lg fw-bold btn-outline-light">
                <p class="mb-0 mt-3">Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none;">Create an account</a>.</p>
            </form>

        </div>
    </div>

{% endblock %}
