<!DOCTYPE html>
{% extends 'notes_app/base.html' %}
{% load static %}
{% load time_ago %}
{% block body_content %}

<div class="mt-5">
    <h1 class="fw-bold">My Notes: </h1>

    {% if user.settings.enabled_dark %}
    <a href="{% url 'note-create' %}" class="link-light">New note</a>
    {% else %}
    <a href="{% url 'note-create' %}" class="link-dark">New note</a>    
    {% endif %}

    {% if user.settings.enabled_dark %}
    <table class="table mt-3 my-table-dark">
    {% else %}
    <table class="table mt-3">
    {% endif %}

        <thead>
            <tr>
                {% if user.settings.enabled_dark %}
                <th class="text-light">#</th>
                <th>Title</th>
                <th class="text-light">Last Save</th>
                <th class="text-light">Delete</th>
                {% else %}
                <th>#</th>
                <th>Title</th>
                <th>Last Save</th>
                <th>Delete</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td><strong>{{ forloop.counter }}</strong></td>
                {% if user.settings.enabled_dark %}
                <td><a class="link-light" href="{% url 'note' note.pk %}">{{ note.title }}</a></td>
                {% else %}
                <td><a class="link-dark" href="{% url 'note' note.pk %}">{{ note.title }}</a></td>
                {% endif %}
                <td>{{ note.last_save_time|time_ago }}</td>
                {% if user.settings.enabled_dark %}
                <td> <a href="{% url 'note-delete' note.pk %}"><img src="{% static 'icons/delete-dark.svg' %}" alt="Delete"></a></td>
                {% else %}
                <td> <a href="{% url 'note-delete' note.pk %}"><img src="{% static 'icons/delete.svg' %}" alt="Delete"></a></td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}