<!DOCTYPE html>
{% extends 'notes_app/base.html' %}
{% load static %}
{% block body_content %}

<div class="mt-5">
    <h1 class="fw-bold">My Notes: </h1>

    <a href="{% url 'note-create' %}" class="link-dark">New note</a>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Last Save</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td><strong>{{ forloop.counter }}</strong></td>
                <td><a class="link-dark" href="{% url 'note' note.pk %}">{{ note.title }}</a></td>
                <td>{{ note.last_save_time }}</td>
                <td> <a href="{% url 'note-delete' note.pk %}"><img src="{% static 'icons/delete.svg' %}" alt="Delete"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}