input:focus {
  outline: none;
}

.bg-white1 {
  background-color: #f8edeb;
}

.bg-white2 {
  background-color: #dddddd;
}

.brand-text {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 50px;
}

.yanone {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.color-white1 {
  color: #f8edeb;
}

.color-white2 {
  color: #dddddd;
}

.w35 {
  width: 35%;
}

.label-font {
  font-size: 20px;
}
